<html>
  <head>
    <title>About Page</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <%- include('navbar', { links: links }) %>

    <h1>About Us</h1>
    <p>This is the about page of our awesome application.</p>

    <%- include('footer') %>
  </body>
</html>
